/*Test*/
/*
Author: Abri Abrams
File: styles.css
*/
body{
  background-color: #668cff;
}

header{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #ccd9ff;
}
h1 {
  font-size: 1.5em;
}

nav {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

/*
font-family: 'Oswald', sans-serif;
font-family: 'Oxygen', sans-serif;
*/
